/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$hira-white};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$hira-black};
  --global-text-color-light: #{$hira-gray};
  --global-theme-color: #{$hira-blue};
  --global-hover-color: #{$hira-blue};
  --global-footer-bg-color: #{$hira-black};
  --global-footer-text-color: #{$hira-white};
  --global-footer-link-color: #{$hira-white};
  --global-distill-app-color: #{$hira-gray};
  --global-divider-color: #{$hira-blue-light};
  --global-card-bg-color: #{$hira-white};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$hira-black};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$hira-white};
  --global-text-color-light: #{$hira-white};
  --global-theme-color: #{$hira-cyan};
  --global-hover-color: #{$hira-cyan};
  --global-footer-bg-color: #{$hira-white};
  --global-footer-text-color: #{$hira-black};
  --global-footer-link-color: #{$hira-black};
  --global-distill-app-color: #{$hira-black};
  --global-divider-color: #{$hira-cyan-dark};
  --global-card-bg-color: #{$hira-black-dark};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
